extends layout.pug
block content
        section#content
            h2=text
            i HINT: #{hint}
            span testing what span looks like


        a(href=`${hyperlink}`) #{optiontext}
        br
        a(href="/cards") Next Card
