doctype html
html(lang="en")
    head
        title Flash Cards
    body
        h1 Flash Cards
            if prompt
                h2=prompt
                i HINT #{hint}
            else
                h2 There is nothing there bud!
            span testing what span looks like

    footer
        p An app to help you study