doctype html
html(lang="en")
    head
        title Landing Page

    body
        h1 Welcome to the Hello Page
        div
            p This only a test
            span testing what span looks like
        div
