doctype html
html(lang="en")
    head
        title Flash Cards
    body
    include includes/Header.pug
    p Welcome #{name}
    form(action="/goodbye", method="post")
        button(type="submit") Goodbye
    block content
    include includes/Footer.pug
