doctype html
html(lang="en")
    head
        title SANDBOX
    body
        div
            header
                h1  CONDITIONAL
                section
                    p If you can produce the name so it here:
                        if answer
                            span=myName
                        else
                            span #{No Answer}






    footer
        p An app to help you study