extends layout.pug
block content
                h2  CONDITIONAL
                section
                    p If you can produce the name so it here:
                        if answer
                            span=myName
                        else
                            span #{answer}
                h2  LOOPS
                    section
                        p Loop over people i know
                          ul
                            each key,val in Table
                                li= val + ` : ` + key




